<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper</title>

    <style>
        *,
        ::after,
        ::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        li {
            list-style-type: circle;
        }

        .container {
            page-break-after: auto;

        }

        .question-box {
            margin-top: 2rem;
            width: "100vw";
            flex-direction: row;
            display: flex;
            align-items: baseline;
        }

        .question-index {
            height: 100%;
            margin-right: 1rem;
        }

        .question-marks {
            height: 100%;
            position: absolute;
            right: 0;
            width: 10vh;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;

        }

        .inst-container {
            border-radius: 10px;
            border-color: orange;
            padding: 8px;
            width: 100%;
            border-width: 1px;
            border-style: solid;
        }

        header {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        header div {
            margin-bottom: 0.5rem;
        }

        header .header_one {
            display: flex;
            justify-content: center;
            align-self: center;
        }

        header .header_four {
            text-align: center;
        }

        header .header_two {
            display: flex;
            justify-content: space-between;
        }

        @media print {
            table {
                break-inside: avoid;
            }

            img {
                break-inside: avoid;
            }
        }
    </style>
</head>

<body>
    <main class="container">
        <header>
            <div class="header_one">
                <div>
                </div>
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <!-- <img width="100" height="100" src=<%- paper.paperImg %> -->
                    <h3><%- paper.schoolName %> </h3>
                    <h3><%- paper.schoolAddress %> </h3>
                    <h3 style="margin-top: 4px;"><%- paper.academicSession %> </h3>
                </div>
            </div>

            <div class="header_two">
                <div>
                    <h3>Roll No..................</h3>
                </div>
                <div>
                    <h3>Date...................... </h3>
                </div>
            </div>

            <div class="header_four">
                <div>
                    <h3><%- paper.paperName %></h3>
                </div>
            </div>

            <div class="inst-container">
                <div class="header_two">
                    <div>
                        <h3>Total Time: <%- paper.totalTime %> min</h3>
                    </div>
                    <div>
                        <h3>Max. Marks: <%- paper.totalMarks %></h3>
                    </div>

                </div>
                <hr border-top: 1px solid #bbb; />

                <div class="header_three">
                    <div>
                        <h3>General instruction:</h3>
                    </div>
                    <div style="padding-left: 2rem">
                        <ul>
                            <% paper.instructions.forEach((q, qi)=> { %>
                                <li>Instruction one</li>
                                <% }) %>

                        </ul>
                    </div>
                </div>
            </div>

            <div style="margin-top: 8px;"></div>
            <div class="header_two">
                <div>
                    <h3>Class: <%- paper.className %></h3>
                </div>
                <div>
                    <h3>Subject: <%- paper.subject %> </h3>
                </div>
            </div>

            <hr border-top: 3px solid #bbb; />


        </header>

        <% paper.sections.forEach((section, index)=> { %>
            <section>
                <div style="text-align: center; margin-bottom: 2rem; margin-top: 3rem">
                    <!-- <h2>Section <%= index + 1 %></h2> -->
                    <h2>
                        <%= section.sectionName %>
                    </h2>
                </div>

                <% section.questions.forEach((question, i)=> {
                    var marks = question.question[0][0].marks;
                    var qIndex =0;
                    if(index>0)
                    {
                    qIndex = paper.sections[index-1].questions.length;
                    }
                    %>
                    <div class="question-box">
                        <div class="question-index">
                            <strong>
                                <%= qIndex+i + 1 %>.
                            </strong>
                        </div>

                        <div>
                            <% question.question.forEach((qs, ind)=> { %>

                                <div>
                                    <% qs.forEach((q, qi)=> { %>
                                        <div
                                            style="display: flex; align-items: center; width: 90vh;margin-right: 10vh;">
                                            <div class="question"><%- q.question %></div>

                                        </div>
                                        <% }) %>
                                </div>

                                <% if (question.question.length !==ind + 1) { %>
                                    <div style="text-align: center;">
                                        <h2>or</h2>
                                    </div>
                                    <% } %>

                                        <% }) %>
                        </div>
                        <div class="question-marks">
                            <strong>
                                [<%= marks %>]
                            </strong>
                        </div>
                    </div>
                    <% }) %>
                        <% }); %>


                            <!-- <footer>

                                <div
                                    style="height: max-content;align-items: end;text-align: center;align-self: flex-end;position: absolute;bottom: 0;">

                                    <h3>Text</h3>
                                </div>
                            </footer> -->
    </main>

</body>

</html>